/* 
 * Color Palette: https://colorhunt.co/palette/265230;
 */


/* HERO BLOCK */
.hero-block-1 {
  margin-top: 10px;
  color: var(--primary-font);
}
.hero-block-1 .blocks {
  margin-top: 10px;
  width: 100%;
  display: grid;
  gap: 10px;
  padding: 10px 0px;
  grid-template-columns: repeat(4, 1fr);
}
.hero-block-1 .hero{
  border-radius: 10px;
  box-shadow:1px 1px 6px 1px #ccc;
}
.hero-block-1 .hero h3{
  font-size:1.2rem
}
.hero-block-1 img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.hero-block-1 .hero h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 5px 5px 5px 10px;
}
.hero-block-1 .hero p {
  padding: 0px 10px 15px 10px;
}
.hero-block-1 a{
  color:var(--link);
  text-decoration: none;
}
.hero-block-1 a:hover{
  color:var(--link-hover)
}
/* HERO BLOCK ENDS */

/* SEARCH BAR */
.search-bar div {
  width: 40%;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 60px;
  margin-top: 74px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: grey;
  opacity: 0;
  z-index: -100;
  transition: z-index 0.25s, opacity 0.25s ease-in;
}
.search-bar div.show {
  z-index: 100;
  opacity: 1;
}
.search-bar div input {
  width: 100%;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
}
.search-bar div input:focus {
  outline: none;
}
/* SEARCH BAR ENDS */

/* FOOTER */
.footer {
  background-color: var(--primary);
  border-top: 2px solid var(--primary);
  margin-top: 10px;
  color: var(--primary-font);
}
.footer .widgets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 10px;
}
.footer .widgets .widget {
  padding: 10px;
}
.footer .widgets h4 {
  padding: 0px;
}
.footer .widgets .widget ul {
  list-style: none;
}
.footer .bottom-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  color: var(--link);
  font-weight: bold;
}
.footer ul li a {
  text-decoration: none;
  color: var(--link);
}
.footer ul li a:hover {
  color: var(--link-hover);
  border-bottom: 2px solid;
}
.footer .widget h4 {
  margin-bottom: 10px;
}
.footer .widget p:nth-child(2) {
  padding-top: 10px;
}
.footer .widget:first-child h4 {
  font-weight: bold;
  font-size: 1.2rem;
}
/* FOOTER ENDS */
@media (max-width: 900px) {
  .hero-block-1 .blocks {
    grid-template-columns: repeat(2, 1fr);
  }
  .search-bar div {
    width: 70%;
  }
}
@media (max-width: 800px) {
  .search-bar div {
    width: 100%;
  }
  .hero-block-1 .blocks {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer .widgets {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer .widgets {
    grid-template-columns: 1fr;
  }
  .navigation .logo {
    font-size: 1.8rem;
  }
}
@media (max-width: 400px) {
  .navigation .logo {
    font-size: 1.8rem;
  }
}
@media (max-width: 320px) {
  .navigation .logo {
    font-size: 1.2rem;
  }
}
