:root {
    --primary: #c8c6a7;
    --secondary: #92967d;
    --primary-font: #435560;
    --link: #435560;
    --link-hover: #6e7c7c;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Poppins", sans-serif, "Kalpurush";
    overflow-x: hidden;
  }
  /* .container div {
    background-color: #d4d4d4;
  } */
  .container {
    width: 85%;
    margin: auto;
  }
  