.navigation {
    display: flex;
    height: 50px;
    background-color: var(--primary);
    color: var(--primary-font);
    justify-content: start;
  }
  .navigation .logo {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
  }
  .navigation .menu:first-child {
    margin-left: 10px;
    margin-right: 0px;
    width: auto;
  }
  .navigation .menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }
  
  .navigation .menu ul {
    display: flex;
    list-style: none;
  }
  .navigation .menu ul.main-menu {
    flex: 1;
    padding-left: 10px;
  }
  .navigation .menu .submenu li {
    border: 2px solid;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    color: var(--link);
  }
  
  .navigation .submenu li:hover {
    color: var(--link-hover);
  }
  .navigation .menu ul li {
    padding: 0px 10px;
  }
  .navigation .menu ul li a {
    text-decoration: none;
    color: var(--link);
    font-size: 1rem;
  }
  .navigation .menu ul.main-menu li a:hover {
    color: var(--link-hover);
    border-bottom: 2px solid;
  }
  
  /* TOP NAV */
  .top-nav {
    display: flex;
    background-color: #d4d4d4;
    color: black;
    width: 100%;
    height: 24px;
  }
  .top-nav ul {
    display: flex;
    list-style: none;
    font-size: 0.8rem;
  }
  .top-nav ul.language-selector {
    margin-left: auto;
    display: flex;
    list-style: none;
    margin-right: 10px;
  }
  .top-nav ul.language-selector li {
    padding: 0px 10px;
    margin: 3px 0px;
    display: flex;
    color: #7e7d7d;
  }
  .top-nav ul.language-selector li.active {
    background-color: #7e7d7d;
    color: #d4d4d4;
    border-radius: 2px;
  }
  /* TOP NAV ENDS */